<div fxLayout="row" fxLayoutAlign="start" [style]="{background:'blue',padding:'20px',cursor:'pointer'}">
    <div fxFlex="80%">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="20%">
                <a routerLink="home">Home</a>
            </div>
            <div fxFlex="20%">
                <a routerLink="about">Gallery</a>
            </div>
        </div>
    </div>
    <div fxFlex="20%">
        <a routerLink="user/20">User</a>
    </div>
</div>
<router-outlet></router-outlet>