<app-header></app-header>
<app-hello-world></app-hello-world>
<app-interpolation></app-interpolation>
<app-function></app-function>
<app-event></app-event>
<app-property-binding></app-property-binding>
<app-condition></app-condition>
<app-switch></app-switch>
<app-for></app-for>
<app-form></app-form>
<app-toggle></app-toggle>
<app-boot-strap></app-boot-strap>
<app-material-ui></app-material-ui>
<app-todo-list></app-todo-list>
<app-parent-child></app-parent-child>
<app-pipes></app-pipes>
<app-reactive-form></app-reactive-form>
<app-validators></app-validators>
<app-directives></app-directives>
<app-footer></app-footer>